<main role="main" class="container-fluid">
    <a href="/addmeal">
        <div class="jumbotron" style="padding: 2rem 2rem; margin-top:20px">
            <h1>Add meal</h1>
            <p style="color:#ef5350"> Add a meal package to BigFOOD.</p>
            <a href="package">asdasd</a>
        </div>
    </a>
    <a href="/updatemeal">
        <div class="jumbotron" style="padding: 2rem 2rem; margin-top:20px">
            <h1>Update meal</h1>
            <p style="color:#ef5350"> Update an existing meal package.</p>
        </div>
    </a>
        <a href="/deletemeal"> <div class="jumbotron" style="padding: 2rem 2rem; margin-top:20px">
            <h1>Delete meal</h1>
            <p style="color:#ef5350">Delete a meal package from the BigFOOD</p>
        </div></a>
       
    
   

</main>
<style>
    .jumbotron {
        text-align: center;
    }
    a{
        color: #212529
    }
    a:hover{
        text-decoration: none;
          color: #212529
    }
</style>